# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/CGT215-Lab01/FileContentIndex/542ffa20-1420-41cb-91ce-cb68b5a2d17e.vsidx
/.vs/CGT215-Lab01/v17
